#welcome-section {
  height: 100vh;
  margin: 50px;
}

#navbar {
  overflow: hidden;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.534);
}

.main {
  padding: 16px;
  text-align: center;
  height: 1500px;
  background-color: lightgray;
}
#project-img2,
#project-img1 {
  margin: 15pt;
  border-radius: 10pt;
}

.project-title {
  text-decoration: underline;
}
h1 {
  font-style: italic;
  font-weight: bolder;
}
